### Analyses Fabian Sanchez
St nr: 202187874

Groep: 2 VC

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# verbinding
server = r"DESKTOP-1DRSSG0\SQLEXPRESS" 
database = "DEP1_DWH"

engine = create_engine("mssql+pyodbc://@{}/{}?driver=ODBC+Driver+17+for+SQL+Server".format(server, database))

### Gemakkelijk 2

We beschikken voor de dataset van 1300 residentiële gebruikers jammer genoeg niet over de
overeenkomstige piekverbruiken.
Daarom zullen we als benadering voor de maandpiek het volgende gebruiken, namelijk het maximum
verbruik voor één kwartier per maand * 4.
We willen verifiëren of dat wel een goede benadering is.

Maak gebruik van de 2 bijhorende bestanden (van gebruiker 1301) om te controleren of deze aanpak
wel een goede benadering is. Je moet de data van gebruiker 1301 niet toevoegen aan de DWH.
Bepaal zelf welke metriek je hierbij best kan gebruiken. Denk daarbij aan de metrieken die aan bod
komen in ML

In [ ]:
historiek_piekvermogen_1301 = pd.read_csv("../data/input/Sprint2/Historiek_piekvermogen_elektriciteit_1301_20240201_20250331.csv", sep=";")

historiek_piekvermogen_1301.head()

,Van (datum),Van (tijdstip),Tot (datum),Tot (tijdstip),EAN-code,Meter,Metertype,Register,Volume,Eenheid,Validatiestatus,Omschrijving
0,13-05-2024,00:00:00,13-05-2024,00:15:00,1301,NaN,Digitale meter,Afname Nacht,NaN,kWh,Geen verbruik,NaN
1,13-05-2024,00:00:00,13-05-2024,00:15:00,1301,NaN,Digitale meter,Injectie Nacht,NaN,kWh,Geen verbruik,NaN
2,13-05-2024,00:15:00,13-05-2024,00:30:00,1301,NaN,Digitale meter,Afname Nacht,"0,026",kWh,Uitgelezen,NaN
3,13-05-2024,00:15:00,13-05-2024,00:30:00,1301,NaN,Digitale meter,Injectie Nacht,"0,000",kWh,Uitgelezen,NaN
4,13-05-2024,00:30:00,13-05-2024,00:45:00,1301,NaN,Digitale meter,Afname Nacht,"0,109",kWh,Uitgelezen,NaN

In [12]:
historiek_piekvermogen_1301.drop(columns=["Van (tijdstip)", "Tot (tijdstip)", "Meter", "Validatiestatus", "Omschrijving"], inplace=True)
historiek_piekvermogen_1301.head()

,Van (datum),Tot (datum),EAN-code,Metertype,Register,Volume,Eenheid
0,01-02-2024,01-03-2024,1301,Digitale meter,Piekvermogen,"4,349",kW
1,01-03-2024,01-04-2024,1301,Digitale meter,Piekvermogen,"3,950",kW
2,01-04-2024,01-05-2024,1301,Digitale meter,Piekvermogen,"9,308",kW
3,01-05-2024,01-06-2024,1301,Digitale meter,Piekvermogen,"3,532",kW
4,01-06-2024,01-07-2024,1301,Digitale meter,Piekvermogen,"4,456",kW

In [14]:
verbruikshistoriek_1301 = pd.read_csv("../data/input/Sprint2/Verbruikshistoriek_elektriciteit_1301_20240513_20250303_kwartiertotalen.csv", sep=";")
verbruikshistoriek_1301.head()

,Van (datum),Van (tijdstip),Tot (datum),Tot (tijdstip),EAN-code,Meter,Metertype,Register,Volume,Eenheid,Validatiestatus,Omschrijving
0,13-05-2024,00:00:00,13-05-2024,00:15:00,1301,NaN,Digitale meter,Afname Nacht,NaN,kWh,Geen verbruik,NaN
1,13-05-2024,00:00:00,13-05-2024,00:15:00,1301,NaN,Digitale meter,Injectie Nacht,NaN,kWh,Geen verbruik,NaN
2,13-05-2024,00:15:00,13-05-2024,00:30:00,1301,NaN,Digitale meter,Afname Nacht,"0,026",kWh,Uitgelezen,NaN
3,13-05-2024,00:15:00,13-05-2024,00:30:00,1301,NaN,Digitale meter,Injectie Nacht,"0,000",kWh,Uitgelezen,NaN
4,13-05-2024,00:30:00,13-05-2024,00:45:00,1301,NaN,Digitale meter,Afname Nacht,"0,109",kWh,Uitgelezen,NaN

In [15]:
verbruikshistoriek_1301.describe()

       EAN-code  Meter  Omschrijving
count   56456.0    0.0           0.0
mean     1301.0    NaN           NaN
std         0.0    NaN           NaN
min      1301.0    NaN           NaN
25%      1301.0    NaN           NaN
50%      1301.0    NaN           NaN
75%      1301.0    NaN           NaN
max      1301.0    NaN           NaN

We doen een voorspelling = Supervised Learning

We zoeken numerieke waarden = Regressie

In [2]:
import sklearn.linear_model as LinearRegression
import numpy as np
import matplotlib.pyplot as plt

In [6]:
plt.plot(verbruikshistoriek_1301["Datum/tijd"], verbruikshistoriek_1301["Waarde"])
plt.show()

NameError: name 'verbruikshistoriek_1301' is not defined