In [6]:
%pip install pymupdf

Defaulting to user installation because normal site-packages is not writeable
Collecting pymupdf
  Downloading pymupdf-1.25.4-cp39-abi3-win_amd64.whl.metadata (3.4 kB)
Downloading pymupdf-1.25.4-cp39-abi3-win_amd64.whl (16.6 MB)
   ---------------------------------------- 0.0/16.6 MB ? eta -:--:--
    --------------------------------------- 0.3/16.6 MB ? eta -:--:--
   - -------------------------------------- 0.8/16.6 MB 2.4 MB/s eta 0:00:07
   - -------------------------------------- 0.8/16.6 MB 2.4 MB/s eta 0:00:07
   -- ------------------------------------- 1.0/16.6 MB 1.5 MB/s eta 0:00:11
   --- ------------------------------------ 1.6/16.6 MB 1.6 MB/s eta 0:00:10
   ---- ----------------------------------- 1.8/16.6 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.4/16.6 MB 1.8 MB/s eta 0:00:08
   ------ --------------------------------- 2.9/16.6 MB 1.9 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/16.6 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/16.6 MB 2.0 MB/s eta 0:00:07
   ---------- ----------------------------- 4.5/16.6 MB 2.1 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/16.6 MB 2.1 MB/s eta 0:00:06
   ------------- -------------------------- 5.5/16.6 MB 2.1 MB/s eta 0:00:06
   ------------- -------------------------- 5.8/16.6 MB 2.1 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/16.6 MB 2.2 MB/s eta 0:00:05
   ---------------- ----------------------- 6.8/16.6 MB 2.1 MB/s eta 0:00:05
   ----------------- ---------------------- 7.3/16.6 MB 2.2 MB/s eta 0:00:05
   ------------------ --------------------- 7.9/16.6 MB 2.2 MB/s eta 0:00:04
   -------------------- ------------------- 8.4/16.6 MB 2.2 MB/s eta 0:00:04
   --------------------- ------------------ 8.9/16.6 MB 2.2 MB/s eta 0:00:04
   ---------------------- ----------------- 9.4/16.6 MB 2.2 MB/s eta 0:00:04
   ------------------------ --------------- 10.0/16.6 MB 2.2 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.6 MB 2.3 MB/s eta 0:00:03
   --------------------------- ------------ 11.3/16.6 MB 2.3 MB/s eta 0:00:03
   --------------------------- ------------ 11.5/16.6 MB 2.3 MB/s eta 0:00:03
   ----------------------------- ---------- 12.3/16.6 MB 2.3 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.6 MB 2.3 MB/s eta 0:00:02
   ------------------------------- -------- 13.1/16.6 MB 2.3 MB/s eta 0:00:02
   -------------------------------- ------- 13.6/16.6 MB 2.3 MB/s eta 0:00:02
   ---------------------------------- ----- 14.2/16.6 MB 2.3 MB/s eta 0:00:02
   ------------------------------------ --- 14.9/16.6 MB 2.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.6 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 16.6/16.6 MB 2.4 MB/s eta 0:00:00
Installing collected packages: pymupdf
Successfully installed pymupdf-1.25.4
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\sfsan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
import numpy as np
import camelot
import pymupdf

In [10]:
doc = pymupdf.open("../../../tariefkaarten/TOTALENERGIES/PIXEL EDRIVE/totalenergies-pixel-edrive-2023-01.pdf")
print(doc.metadata)

{'format': 'PDF 1.7', 'title': 'TotalEnergies EMobility - Januari 2023', 'author': 'https://www.durfbesparen.be', 'subject': 'Infofiche TotalEnergies EMobility - Januari 2023', 'keywords': 'Prijzen, tarieven, promoties, kortingen en voorwaarden van TotalEnergies EMobility voor Januari 2023', 'creator': 'Adobe InDesign 17.3 (Macintosh)', 'producer': 'Adobe PDF Library 16.0.7', 'creationDate': "D:20220727100627+02'00'", 'modDate': "D:20221202155256+01'00'", 'trapped': '', 'encryption': None}

In [32]:
page_one = doc[0]
words = page_one.get_text("words")

pd_words = pd.DataFrame(words)
pd_words.tail(50)

,0,1,2,3,4,5,6,7
348,55.858299,235.679504,127.513298,255.584503,"""eMobility""",42,0,0
349,55.858299,261.957001,58.891300,273.899994,â€¢,43,0,0
350,61.120300,261.957001,80.803307,273.899994,Laag,43,0,1
351,83.020294,261.957001,103.981300,273.899994,tarief,43,0,2
352,106.204300,261.957001,123.862297,273.899994,voor,43,0,3
353,126.088303,261.957001,138.760284,273.899994,het,43,0,4
354,140.980301,261.957001,173.056320,273.899994,opladen,43,0,5
355,175.276306,261.957001,189.496292,273.899994,van,43,0,6
356,191.722290,261.957001,203.440308,273.899994,uw,43,0,7
357,55.858299,273.900024,99.400299,285.843018,elektrische,43,1,0
358,101.626297,273.900024,119.554298,285.843018,auto,43,1,1
359,55.858299,285.843018,58.891300,297.786011,â€¢,43,2,0
360,61.120300,285.843018,122.833305,297.786011,Dienstverlening,43,2,1
361,125.044296,285.843018,149.254288,297.786011,online,43,2,2
362,151.486298,285.843018,161.224289,297.786011,en,43,2,3
363,163.450287,285.843018,207.838303,297.786011,telefonisch,43,2,4
364,55.858292,297.786011,58.891293,309.729004,â€¢,43,3,0
365,61.120293,297.786011,82.882294,309.729004,100%,43,3,1
366,85.102295,297.786011,112.831299,309.729004,groene,43,3,2
367,115.048294,297.786011,143.821289,309.729004,stroom,43,3,3
368,479.557007,614.351013,545.268982,624.967041,Maandelijksetarief,44,0,0
369,44.995899,389.129028,72.733902,401.072021,januari,45,0,0
370,74.974899,389.129028,95.638901,401.072021,2023,45,0,1
371,45.049400,401.531006,68.818398,413.473999,maart,45,1,0
372,71.059402,401.531006,91.723404,413.473999,2023,45,1,1
373,44.519699,333.898010,47.536697,343.187012,*,46,0,0
374,49.271698,333.898010,82.829697,343.187012,Gebaseerd,46,0,1
375,84.563698,333.898010,92.480698,343.187012,op,46,0,2
376,94.217697,333.898010,105.501694,343.187012,een,46,0,3
377,107.231697,333.898010,139.956696,343.187012,gemiddeld,46,0,4
378,141.695694,333.898010,186.845688,343.187012,gezinsverbruik,46,0,5
379,188.591690,333.898010,199.651688,343.187012,van,46,0,6
380,201.389694,333.898010,218.966721,343.187012,3.500,46,0,7
381,220.709702,333.898010,248.863693,343.187012,kWh/jaar,46,0,8
382,250.607697,333.898010,265.132690,343.187012,(met,46,0,9
383,266.867676,333.898010,278.151733,343.187012,een,46,0,10
384,279.881714,333.898010,320.936676,343.187012,enkelvoudige,46,0,11
385,322.679688,333.898010,343.322662,343.187012,meter),46,0,12
386,345.053711,333.898010,350.618713,343.187012,in,46,0,13
387,352.355713,333.898010,369.463684,343.187012,"2021,",46,0,14
388,371.207703,333.898010,378.781677,343.187012,en,46,0,15
389,380.513672,333.898010,388.171661,343.187012,de,46,0,16
390,389.903687,333.898010,426.338654,343.187012,gemiddelde,46,0,17
391,428.075684,333.898010,441.354675,343.187012,prijs,46,0,18
392,443.093689,333.898010,454.153748,343.187012,van,46,0,19
393,455.891724,333.898010,463.549713,343.187012,de,46,0,20
394,465.281738,333.898010,511.901672,343.187012,netbeheerders.,46,0,21
395,487.786987,786.331055,502.509003,796.651062,â‚¬30,47,0,0
396,245.405014,14.810009,349.874939,28.580009,www.durfbesparen.be,48,0,0
397,245.405014,805.677979,349.874939,819.447998,www.durfbesparen.be,49,0,0

In [ ]:
page_one = doc[0]

find = page_one.find_tables()

table0 = find.tables[0]
table1 = find.tables[1]

print(table0.extract())

[['Verbruik\n(â‚¬ cent/kWh)', None, None, None], ['Enkelvoudige\nmeter', 'Tweevoudige meter', None, 'Meter\nexcl. nacht'], [None, 'Piekuren', 'Daluren', None], ['40,7556', '48,0495', '33,9263', '34,5059']]

In [27]:
pd_table0 = table0.to_pandas()
pd_table0

                      ten               Col1     Col2                Col3
0  Verbruik\n(â‚¬ cent/kWh)               None     None                None
1     Enkelvoudige\nmeter  Tweevoudige meter     None  Meter\nexcl. nacht
2                    None           Piekuren  Daluren                None
3                 40,7556            48,0495  33,9263             34,5059

In [28]:
pd_table1 = table1.to_pandas()
pd_table1

   Col0 Bijdrage groene\nenergie en wkk -\nVlaanderen(1)\n(â‚¬ cent/kWh)
0                                                     None
1  None                                             2,5091